# Latest version can be found at:
# <https://github.com/M0Rf30/android-udev-rules>

# These rules refer to:
# <https://developer.android.com/studio/run/device.html>
# and include many suggestions from Arch Linux, GitHub and other Communities.

SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", MODE="0666", GROUP="plugdev"